header{
margin: -8px;
margin-top: -8px;
margin-bottom: 5px;
}

.head{
font-family: 'Russo One', sans-serif;
background-color: black;
margin: 0px;
height: 8%;
}

.headerTitle{
margin: 0px;
padding-top: 10px;
padding-left: 20px;
color: white;
}

tr{
width:500px;
}

td{
width:200px;
height:30px;
text-align:center;
}

.title{
font-size: 20px;
font-family: 'Russo One', sans-serif;
font-weight: bold;
border-style: inset;
background-color: black;
color: #F0F0F0;
}

.cardLocation{
width: 200px;
background-color:#F0F0F0;
}

.instructions{
font-family: 'Russo One', sans-serif;
width: 320px;
height: 78%;
padding: 10px;
border-style: solid;
border-width: 10px;
border-color: #935b17;
border-radius: 5px;
background-color: #e2b156;

margin-bottom: 10px;
float: left;
overflow: scroll;
}

.instructionHeader{
font-family: 'Russo One', sans-serif;
text-align: center;
margin-top: 0px;
font-size: 32px;
}

.goal{
margin: 5px;
text-align: justify;
text-justify: inter-word;
}

.encouragement{
text-align: center;
font-size: 32px;
}

body{
background: radial-gradient(green, green, black);
}

#dealButton {
font-family: 'Russo One', sans-serif;
margin: 10px;
width: 150px;
height: 210px;
background-color: #e8ede9;
border-style: solid;
border-width: 1px;
border-color: #313332;
border-radius: 7px;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 32px;
position: absolute;
right: 0%;
top: 10%;

}

#dealButton:hover{
color: red;
cursor: pointer;
}

width: 200px;
background-color: #F0F0F0;
font-family: 'Lato', sans-serif;
}

body
{
    background-color: #f5f5f0;
}

.cardLocation:hover
{
    background-color: #cccccc;
    color: black;
}

tr
{
    background-color: black;
}

table
{
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
}

body{
background-color: #f5f5f0;
}

.pageFooter{
position: fixed;
bottom: 0;
width: 100%;
height: 8%;
margin-left: -8px;
background-color: black;
color: white;
}

.footerText{
text-align: center;
margin-top: 5px;
margin-bottom: 5px;
font-family: 'Russo One', sans-serif;
}

.move{

font-family: 'Russo One', sans-serif;
text-align: right;
border-radius: 5px;

}
#from_col{
    font-family: 'Russo One', sans-serif;
    border-radius: 5px;
}
#to_col{
    font-family: 'Russo One', sans-serif;
    border-radius: 5px;
    box-sizing: border-box;
}
#moveButton{
    font-family: 'Russo One', sans-serif;
    border-radius: 5px;
}