<header>
    <h1 class="head">
        <p class="headerTitle">Aces UP!</p>
    </h1>
</header>



<link href="/assets/css/AcesUp.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>
<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">

<body>

<div class="instructions">
    <p class = "goal"> Click here to change between the regular and spanish versions of Aces UP!: </p>
    <input class = "game-button" type = 'button' value = 'Change to Spanish Version'>
    <p class="instructionHeader">Instructions:</p>
    <p class="goal">The goal of Aces UP! is to remove all cards from the columns until only the four aces are remaining, with one ace in each column.
    This is done by removing the lowest value card from the top four cards, but this move can only be done if there are two or more cards
        of that suit! Cards can only be moved if the column they are going to has no cards in it. </p>

    <ul class ="howTo">
    <li>Removing the top card of column is done by clicking the anywhere in the column you want to remove from</li>
    <li>You can only move aces, and make sure that the column you move them to is empty! Enter the respective column numbers and then hit go!</li>
    <li>To get a new card on the top of each column, click the deck!</li>
    </ul>

    <p class="encouragement">Let's Play!</p>
    
</div>


<table>
    <tr class="title">
        <td>Column 0</td>
        <td >Column 1</td>
        <td >Column 2</td>
        <td >Column 3</td>
    </tr>

    <tr class = "gameBoard"><td class="columnOfCards" id="c0">
        <table>
            <tr class = "Col1"><td class="cardLocation l0"></td></tr>
            <tr class = "Col1"><td class="cardLocation l1"></td></tr>
            <tr class = "Col1"><td class="cardLocation l2"></td></tr>
            <tr class = "Col1"><td class="cardLocation l3"></td></tr>
            <tr class = "Col1"><td class="cardLocation l4"></td></tr>
            <tr class = "Col1"><td class="cardLocation l5"></td></tr>
            <tr class = "Col1"><td class="cardLocation l6"></td></tr>
            <tr class = "Col1"><td class="cardLocation l7"></td></tr>
            <tr class = "Col1"><td class="cardLocation l8"></td></tr>
            <tr class = "Col1"><td class="cardLocation l9"></td></tr>
            <tr class = "Col1"><td class="cardLocation l10"></td></tr>
            <tr class = "Col1"><td class="cardLocation l11"></td></tr>
            <tr class = "Col1"><td class="cardLocation l12"></td></tr>
            <tr class = "Col1"><td class="cardLocation l13"></td></tr>
        </table>
    </td>
        <td class="columnOfCards" id="c1">
            <table>
                <tr class = "Col2"><td class="cardLocation l0"></td></tr>
                <tr class = "Col2"><td class="cardLocation l1"></td></tr>
                <tr class = "Col2"><td class="cardLocation l2"></td></tr>
                <tr class = "Col2"><td class="cardLocation l3"></td></tr>
                <tr class = "Col2"><td class="cardLocation l4"></td></tr>
                <tr class = "Col2"><td class="cardLocation l5"></td></tr>
                <tr class = "Col2"><td class="cardLocation l6"></td></tr>
                <tr class = "Col2"><td class="cardLocation l7"></td></tr>
                <tr class = "Col2"><td class="cardLocation l8"></td></tr>
                <tr class = "Col2"><td class="cardLocation l9"></td></tr>
                <tr class = "Col2"><td class="cardLocation l10"></td></tr>
                <tr class = "Col2"><td class="cardLocation l11"></td></tr>
                <tr class = "Col2"><td class="cardLocation l12"></td></tr>
                <tr class = "Col2"><td class="cardLocation l13"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr class = "Col3"><td class="cardLocation l0"></td></tr>
                <tr class = "Col3"><td class="cardLocation l1"></td></tr>
                <tr class = "Col3"><td class="cardLocation l2"></td></tr>
                <tr class = "Col3"><td class="cardLocation l3"></td></tr>
                <tr class = "Col3"><td class="cardLocation l4"></td></tr>
                <tr class = "Col3"><td class="cardLocation l5"></td></tr>
                <tr class = "Col3"><td class="cardLocation l6"></td></tr>
                <tr class = "Col3"><td class="cardLocation l7"></td></tr>
                <tr class = "Col3"><td class="cardLocation l8"></td></tr>
                <tr class = "Col3"><td class="cardLocation l9"></td></tr>
                <tr class = "Col3"><td class="cardLocation l10"></td></tr>
                <tr class = "Col3"><td class="cardLocation l11"></td></tr>
                <tr class = "Col3"><td class="cardLocation l12"></td></tr>
                <tr class = "Col3"><td class="cardLocation l13"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table>
                <tr class = "Col4"><td class="cardLocation l0"></td></tr>
                <tr class = "Col4"><td class="cardLocation l1"></td></tr>
                <tr class = "Col4"><td class="cardLocation l2"></td></tr>
                <tr class = "Col4"><td class="cardLocation l3"></td></tr>
                <tr class = "Col4"><td class="cardLocation l4"></td></tr>
                <tr class = "Col4"><td class="cardLocation l5"></td></tr>
                <tr class = "Col4"><td class="cardLocation l6"></td></tr>
                <tr class = "Col4"><td class="cardLocation l7"></td></tr>
                <tr class = "Col4"><td class="cardLocation l8"></td></tr>
                <tr class = "Col4"><td class="cardLocation l9"></td></tr>
                <tr class = "Col4"><td class="cardLocation l10"></td></tr>
                <tr class = "Col4"><td class="cardLocation l11"></td></tr>
                <tr class = "Col4"><td class="cardLocation l12"></td></tr>
                <tr class = "Col4"><td class="cardLocation l13"></td></tr>
            </table>
        </td>
    </tr>
</table>

<button id="dealButton">Deal</button>
<!-- <BR>Remove from: <button id="Remove1">Column1</button><button id="Remove2">Column2</button><button id="Remove3">Column3</button><button id="Remove4">Column4</button>
-->
<div class="move">

    <BR> Move from column <input type="text" id="from_col"  /> to <input type="text" id="to_col"  /> <button id="moveButton">Move</button>

</div>


<script>

var game;
var score = 0;
var gameMode = 0; //start game mode at regular version

function display(game) {
console.log(game);

$( '.columnOfCards .cardLocation' ).html("");

    $.each(game.gameBoard.cols[0], function( key, val ) {
        $( '#c0 .l'+key ).html(val.value + " of " + val.suit);
    });

 $.each(game.gameBoard.cols[1], function( key, val ) {
        $( '#c1 .l'+key ).html(val.value +" of " + val.suit);
    });

 $.each(game.gameBoard.cols[2], function( key, val ) {
        $( '#c2 .l'+key ).html(val.value + " of " + val.suit);
    });

 $.each(game.gameBoard.cols[3], function( key, val ) {
        $( '#c3 .l'+key ).html(val.value + " of " + val.suit);
    });
}

// Calls ApplicationController.gameGet()
$.getJSON("http://localhost:8080/game", {send: gameMode}, function( data ) {
display(data);
game = data;
});


$("#dealButton").click(function(){
$.ajax({
  type: "POST",
  url: "/dealGame",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


function removeCard(colNumber){
$.ajax({
type: "POST",
url: "/removeCard/"+colNumber,
data: JSON.stringify(game),
success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
game = data;
score += 1;
console.log(score);
display(data);},
contentType:"application/json; charset=utf-8",
dataType:"json",
});

}

$(".Col1").click(function(){
    removeCard(0);
});
$(".Col2").click(function(){
    removeCard(1);
});
$(".Col3").click(function(){
    removeCard(2);
});
$(".Col4").click(function(){
    removeCard(3);
});


$("#moveButton").click(function(){
var colFrom = $("#from_col").val();
var colTo = $("#to_col").val();
$.ajax({
  type: "POST",
  url: "/moveCard/"+colFrom+"/"+colTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});

$('.game-button').click(function() //create new Version of the game
{
   if (gameMode == 0) //change to spanish version
  {
    gameMode = 1;

    $(this).val('Change to Regular Version');
   }
   else //change to regular version
   {
    gameMode = 0;

    $(this).val('Change to Spanish Version');
   }

   //render new game

   $.getJSON("http://localhost:8080/game", {send: gameMode}, function( data ) {
        display(data);
        game = data;
    });

});

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>

<footer>
    <div class="pageFooter">
        <p class="footerText">Created By:</p>
        <p class="footerText">Vincent Ta, Cameron Friel, Kyle Andrews, Zach Tusing</p>
    </div>
</footer>
</html>
